<div id="navbar" class="box" [@scrollAnimation]="state">
  <img mat-card-image class="img" src="../assets/Team.jpg" style="width:100%; height: auto;">
</div>
<div class="headers" align="center"><h1>ABOUT</h1></div>
<mat-card class="text-white bg-dark">
<div class="row"  >
  <div class="col">
  <span align="left">
  Full Stack Java Course in Tsofen צופן تسوفين,<br>
  As part of the "Employment for High-Tech" program,<br>
  we are the 38th course of Tsofen on the subject of <br>
  "Full Stack Java"  - in Givat Haviva -, with the <br>
  participation of 22 graduates and students from <br>
  various colleges and universities in Israel.<br>
  The course is conducted in cooperation with Tsofen and Amdocs.
  </span>
</div>

  <div class="col-2" align="center">
    <br>
      <img mat-card-image class="img" src="../assets/2.png" style="width:120%; padding: 10px;">
      <br>
      <img mat-card-image class="img" src="../assets/3.png" style="width:120%;">
      </div>
</div>
</mat-card>
<hr style="border-color:white;">
<div class="headers" align="center"><h1>Leadership</h1></div>
<div class="row" align="center">
  <div class="col-4" align="center">
    <mat-card>
    <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
    Sergay
  </mat-card>
  </div>
  <div class="col-4" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
      Tamar
    </mat-card>
    </div>
    <div class="col-4" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
        Daood
      </mat-card>
      </div>
</div>
<hr style="border-color:white;">
<div class="headers" align="center"><h1>Team</h1></div>
<div class="row" align="center">
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Daood
      </mat-card>
      </div>
  <div class="col-2" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
      Daood
    </mat-card>
    </div>
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Daood
      </mat-card>
      </div>
      <div class="col-2" align="center">
          <mat-card>
          <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
          Daood
        </mat-card>
        </div>
        <div class="col-2" align="center">
            <mat-card>
            <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
            Daood
          </mat-card>
          </div>
          <div class="col-2" align="center">
              <mat-card>
              <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
              Daood
            </mat-card>
            </div>

</div>



