<div id="navbar" class="box" [@scrollAnimation]="state">
  <img mat-card-image class="img" src="../assets/Team.jpg" style="width:100%; height: auto;">
</div>
<div class="headers" align="center"><h1>ABOUT</h1></div>
<mat-card class="text-white bg-dark">
<div class="row"  >
  <div class="col">
  <span align="left">
  Full Stack Java Course in Tsofen צופן تسوفين,<br>
  As part of the "Employment for High-Tech" program,<br>
  we are the 38th course of Tsofen on the subject of <br>
  "Full Stack Java"  - in Givat Haviva -, with the <br>
  participation of 22 graduates and students from <br>
  various colleges and universities in Israel.<br>
  The course is conducted in cooperation with Tsofen and Amdocs.
  </span>
</div>

  <div class="col-2" align="center">
    <br>
      <img mat-card-image class="img" src="../assets/2.png" style="width:120%; padding: 10px;">
      <br>
      <img mat-card-image class="img" src="../assets/3.png" style="width:120%;">
      </div>
</div>
</mat-card>
<hr style="border-color:white;">
<div class="headers" align="center"><h1 style="font-size: 40px;">- Our Mission -</h1></div>
<div align="left">
  <mat-card  class="col text-white bg-dark">
    <span align="left">
        •	Project, in collaboration with Amdocs: <br>
        Monitoring and control system that identifies defects<br>
        and their severity on Amdocs systems logs for their <br>
        technical support team internal usage.
    </span>
  </mat-card>
  </div>
  <hr style="border-color:white;">
<div class="headers" align="center"><h1>Leadership</h1></div>
<div class="row" align="center">
  <div class="col-4" align="center">
    <mat-card>
    <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
    Sergay Aleynov
  </mat-card>
  </div>
  <div class="col-4" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
      Tamar Koeing
    </mat-card>
    </div>
    <div class="col-4" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
        Dawod Kabha
      </mat-card>
      </div>
</div><br>
<div class="row" align="center">
  <div class="col-4" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
      Islam Haj
    </mat-card>
    </div>
    <div class="col-4" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
        Rawia Zaher
    </mat-card>
    </div>
    <div class="col-4" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:100px; border-radius: 50%;"><br><br>
      Igor
    </mat-card>
    </div>
</div>
<hr style="border-color:white;">
<div class="headers" align="center"><h1>Team</h1></div>
<span>Action System:</span>
<div class="row" align="center">
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Arkan Jbali
      </mat-card>
      </div>
  <div class="col-2" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
      Fadi Kittan
    </mat-card>
    </div>
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Huda Serhan
      </mat-card>
      </div>
      <div class="col-2" align="center">
          <mat-card>
          <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
          Anan Ghadban
        </mat-card>
        </div>
        <div class="col-2" align="center">
            <mat-card>
            <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
            Rameez Ahmed
          </mat-card>
          </div>
          <div class="col-2" align="center">
              <mat-card>
              <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
              Basheer Khlouf
            </mat-card>
            </div>
</div>
<br>
<span>Admin System:</span>
<div class="row" align="center">
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Tawfik Masalha
      </mat-card>
      </div>
  <div class="col-2" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
      Asala Katash
    </mat-card>
    </div>
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Walid Hanoush
      </mat-card>
      </div>
      <div class="col-2" align="center">
          <mat-card>
          <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
          Tasneem
        </mat-card>
        </div>
        <div class="col-2" align="center">
            <mat-card>
            <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
            Malik Hadi
          </mat-card>
          </div>
          <div class="col-2" align="center">
              <mat-card>
              <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
              Baseel
            </mat-card>
            </div>
</div>
<br>
<span>Loggitor System:</span>
<div class="row" align="center">
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Mohamed Kilani
      </mat-card>
      </div>
      <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Haneen Omari
      </mat-card>
      </div>
  <div class="col-2" align="center">
      <mat-card>
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
      Mahmood Yonis
    </mat-card>
    </div>
    <div class="col-2" align="center">
        <mat-card>
        <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
        Mohamed Zaid
      </mat-card>
      </div>
      <div class="col-2" align="center">
          <mat-card>
          <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
          Ahmad Darwesh
        </mat-card>
        </div>
        <div class="col-2" align="center">
            <mat-card>
            <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
            Amer Watad
          </mat-card>
          </div>
          <div class="col-2" align="center">
              <mat-card>
              <img src="../assets/img_avatar.png" alt="Avatar" style="width:80px; border-radius: 50%;"><br><br>
              Ahmad Najar
            </mat-card>
            </div>
</div>
<hr style="border-color:white;">
<br><br><br><br><br><br>
<div id="navbar2" class="box" [@scrollAnimation]="state2">
  <div class="row">
    <img mat-card-image class="img" src="../assets/Colla.jpg" style="width:50%; height: 50%;">
    <img mat-card-image class="img" src="../assets/Colla2.jpg" style="width:47%; height: 47%; margin: 20px;">
  </div>
</div>

