


             <div class="row">
             <div align="center" class="col-11">
             <H3>Events - Actions Definitions</H3>
            </div>
            <div align="right" class="col-1">
            <button class="btn btn-dark" mat-raised-button (click)="OnAdd()"><mat-icon>add</mat-icon>New</button>
          </div>
          </div>

      <div class="container">

   <mat-card class="text-white bg-dark">
        <div>
            <strong style="font-size: 20px;">Actions Log</strong>
        </div>
    <div align="center">
        <mat-table #table [dataSource]="events" matSort class='table text-white bg-dark'>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let e">{{e.id}}</mat-cell>
        </ng-container>
       <ng-container matColumnDef="app">
            <mat-header-cell *matHeaderCellDef>App</mat-header-cell>
            <mat-cell *matCellDef="let e">{{e.appName}}</mat-cell>
          </ng-container>
        <ng-container matColumnDef="defectSeverity">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Defect Severity</mat-header-cell>
          <mat-cell *matCellDef="let e">
              <span *ngIf= " e.eventSeverity === _Critical "><i class="material-icons" style="color: rgb(238, 53, 53);">
                  error</i></span>
              <span *ngIf= " e.eventSeverity === _Error "><i class="material-icons" style="color: rgb(15, 248, 170);">
                error</i></span>
              <span *ngIf= " e.eventSeverity === _Warning "><i class="material-icons" style="color: rgb(248, 238, 96);">
                error</i></span>
            {{e.defectSeverity}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="condition">
          <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>
          <mat-cell *matCellDef="let e">{{e.comperator}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="threshold">
            <mat-header-cell *matHeaderCellDef>Threshold</mat-header-cell>
            <mat-cell *matCellDef="let e">{{e.percent}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="severity">
            <mat-header-cell *matHeaderCellDef>Severity</mat-header-cell>
            <mat-cell *matCellDef="let e">{{e.eventSeverity}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let e">{{e.actionName}}</mat-cell>
          </ng-container>

           <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let e">{{e.description}}</mat-cell>
          </ng-container>
  <ng-container matColumnDef="solution">
            <mat-header-cell *matHeaderCellDef>Solution</mat-header-cell>
            <mat-cell *matCellDef="let e">{{e.solution}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
              <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading Data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No Data.
            </mat-footer-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':events!=null}">
          </mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(events!=null && events.data.length==0)}">
          </mat-footer-row>
      </mat-table>
      <mat-paginator #paginator class="text-white bg-dark" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]">
      </mat-paginator>
    </div>
  </mat-card>
  <br>


