/*
 *@Author Arkan Jbali
 *
 */
.hide{
  display: none;
}
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
  color: white;
}
 div{
  position: relative;
  left: auto;
  top: auto;
  }
  .Strong{
    position: relative;
    left: auto;
    top: auto;
    font-size: 20px;
    }


  mat-cell {
    color: white;
    text-align: left;
  }
  mat-header-cell {
    color: white;
  text-shadow: 1px 1px 1px #ece1e1;
    font-size: 17px;
  }

  mat-card{
    /* width: 60%; */
    border: 2px solid;
    /* border-color:#C76BC0; */
  }
  mat-paginator{
    float: left;
    color: white;
  }
  .page{
    float: left;
    color: white;
  }
  .page button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 5px;
  }
  .page mat-icon{
    font-size: 25px;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
  }
  MatDialog{
    background: black;
  }

