/*
 *@Author Arkan Jbali
 *
 */

 div{
  position: relative;
  left: auto;
  top: auto;
  }
  .Strong{
    position: relative;
    left: auto;
    top: auto;
    font-size: 20px;
    }


  td.mat-cell {
    color: white;
    text-align: left;
  }
  th.mat-header-cell {
    color: white;
  text-shadow: 1px 1px 1px #ece1e1;
    font-size: 18px;
  }
  mat-paginator{
    float: left;
    width: 45%
  }

