<div class="bg-dark text-white"  style="width:100%;">
<div class="container">
    <mat-toolbar>
      <span>{{addService.form.controls['id'].value?"Modify Action":"New Action"}}</span>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
</div>
<mat-horizontal-stepper linear #stepper class=" normal-form p-3 mb-2 bg-dark text-white">
  <mat-step [stepControl]="addService.form" errorMessage="Action is required.">
    <form [formGroup]="addService.form" class=" normal-form p-3 mb-2 bg-dark text-white" >
      <ng-template matStepLabel><span style=" color: white;">Fill out new action</span></ng-template>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
          <div class="controlers-container">
              <input type="hidden" formControlName="id">
              <mat-form-field>

                  <label style="margin:5px;" class="font-weight-bold"> Event Title: </label>
                  <input  formControlName="eventName" matInput >
                  <mat-error *ngIf="addService.form.controls['eventName'].errors?.minlength">title is required.</mat-error>
                </mat-form-field>
              <div class="form-group">
                <mat-form-field>
                <select matNativeControl  formControlName="appName">
                <option label="--select application --"></option>
                <option *ngFor="let app of application" [ngValue]="app.appName">{{app.appName}}  </option>
                </select>
                <mat-hint><span>You can pick up an application</span></mat-hint>
                <mat-error *ngIf="addService.form.controls['appName'].errors?.required">Please choose an app</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <select matNativeControl  formControlName="defSeverity">
                <option label="--select defect Severity --"></option>
                <option label="Critical" value="Critical"></option>
                <option label="Warning" value="Warning"></option>
                <option label="Error" value="Error"></option>
                </select>
                <mat-hint><span>You can pick up an defect severity</span></mat-hint>
                <!-- <mat-error *ngIf="addService.form.controls['defSeverity'].errors?.required">Please choose the defect severity</mat-error> -->
              </mat-form-field>
  </div>
  <div class="form-group">
  <label style="margin:5px;" class="font-weight-bold"> Comperator: </label><br>
                <input matInput placeholder="Input" style="display: none" >
                <mat-radio-group  formControlName="comperator">
                  <mat-radio-button value="Lower Than">Lower Than</mat-radio-button>
                  <mat-radio-button value="Equal">Equal</mat-radio-button>
                  <mat-radio-button value="Greater Than">Greater Than</mat-radio-button>
                  <mat-error *ngIf="addService.form.controls['comperator'].errors?.required">one is required.</mat-error>
                </mat-radio-group>
            </div>
              <div class="form-group">
              <mat-form-field >
                  <label>
                      Number of occurance(%): </label>
                <input matInput type="number" min="0" max="100" ngValue=[percent] step="1"
                 style="width:50%; font-size: 15px;" formControlName="percent">
                <mat-hint><span>You can pick a number for percentage</span></mat-hint>
              </mat-form-field>
              </div>
           </div>
        </mat-grid-tile>
  <mat-grid-tile>
      <div class="controlers-container">
      <div class="form-group">
          <label class="font-weight-bold" style="font-size: 20px;text-decoration: underline;">Action Defntion</label><br>
          <mat-form-field>
              <select matNativeControl formControlName="eventSeverity">
              <option label="--select action severity --"></option>
              <option label="Critical" value="Critical"></option>
              <option label="Warning" value="Warning"></option>
              <option label="Error" value="Error"></option>
              </select>
              <mat-hint><span>You can pick up an action severity</span></mat-hint>
              <mat-error *ngIf="addService.form.controls['eventSeverity'].errors?.required">Please choose the action severity</mat-error>
            </mat-form-field>
            </div>
            <div class="form-group">
            <mat-form-field>
                <select matNativeControl  formControlName="actionName">
                <option label="--select action --"></option>
                <option *ngFor="let act of actions" [ngValue]="actions.name" value="{{act.name}}"> {{act.name}}  </option>
                </select>
                <mat-hint><span>You can pick up an action</span></mat-hint>
                <mat-error *ngIf="addService.form.controls['actionName'].errors?.required">Please choose the action</mat-error>
              </mat-form-field><br>
              <mat-form-field>
                <label style="margin:5px;" class="font-weight-bold"> Action description / suggested solution: </label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
              </div>

      <div class="button-row">
          <button mat-button  matStepperNext class="btn btn-outline-primary">Next</button>
          <button mat-raised-button  color="warn"  mat-button mat-dialog-close  type="button">Cancel</button>
        </div>
      </div>
  </mat-grid-tile>
      </mat-grid-list>
      <div>

      </div>
    </form>



  </mat-step>
  <mat-step [stepControl]="addService.form" errorMessage="User information is required.">
    <form [formGroup]="addService.form">
      <ng-template matStepLabel><span style=" color: white;">Fill out user information</span></ng-template>
          <label class="font-weight-bold" style="font-size: 20px;text-decoration: underline;">Choose an user :</label><br>
      <mat-form-field>
        <select matNativeControl  formControlName="userName">
          <option label="--select User --"></option>
          <option label="loggitor.action.system@gmail.com" value="loggitor.action.system@gmail.com"></option>
          <option label="Mhmd" value="Mhmd"></option>
          <option label="Mhmood" value="Mhmood"></option>
          </select>
          <mat-hint><span>You can pick up an user</span></mat-hint>
      </mat-form-field>
   <br><br>
      <mat-form-field>
        <label style="margin:5px;"> Write a message to send : </label>
        <textarea matInput formControlName="msg" required></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious class="btn btn-outline-primary">Back</button>
        <button mat-button matStepperNext class="btn btn-outline-primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><span style=" color: white;">Done</span></ng-template>
    You are now done.<br>
    Thank You.
    <div><br><br>
      <button mat-button matStepperPrevious class="btn btn-outline-primary">Back</button>
      <!-- <button mat-raised-button >Clear</button> -->
      <button mat-raised-button (click)="stepper.reset();onClear();" color="warn">Reset</button>
      <button mat-raised-button color="primary"
      type="submit" [disabled]="addService.form.invalid" (click)="onSubmit(addService.form.value)">Save</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


</div>
