form {
height: 100%;
  width: 100%;
}
.button-row button{
  margin: 5px;
}
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
  align-content: right;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
option{
  color: black;
}

/* mat-grid-tile {
  background: lightblue;
} */
mat-toolbar{
  background: #FFC04F;
  background: -moz-linear-gradient(-45deg, #FFC04F 0%, #FF9921 0%, #C76BC0 100%);
  background: -webkit-linear-gradient(-45deg, #FFC04F 0%, #FF9921 0%, #C76BC0 100%);
  background: linear-gradient(135deg, #FFC04F 0%, #FF9921 0%, #C76BC0 100%);
}
mat-form-field.mat-hint{
  color: white;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
mat-radio-group {
  display: inline;
}
mat-hint span{
  color: #FF69B4;
}
