<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-home-page></app-home-page> -->

<!-- <app-event-list></app-event-list>
<app-add-action></app-add-action> -->

<!-- Add Rest API <router-outlet></router-outlet> -->
<mat-sidenav-container
    class="example-container" >
</mat-sidenav-container>
<div class="ex " (click)="close();closeNav();" id="mySidenav">
<mat-sidenav #sidenav  (keydown.escape)="close();closeNav();" disableClose class="text-white bg-dark">
    <a class="btn-dialog-close overlay" mat-stroked-button (click)="close();closeNav();" tabIndex="-1"><mat-icon>clear</mat-icon></a>
 <p> <button type="button" class="btn" style="padding: 12px 16px;" routerLink="home"> Home</button></p>
<p><button type="button" class="btn" style="padding: 12px 16px;" routerLink="/eventlist"> Event List</button></p>
</mat-sidenav>
</div>

<div class="ul">

  <div class="btn-group" dropdown align="center">
      <button type="button" class="btn " style="padding: 12px 16px;" routerLink="home"> Home</button>
      <!-- <button id="button-split" type="button" dropdownToggle class="btn btn-dark dropdown-toggle dropdown-toggle-split"
              aria-controls="dropdown-split">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul id="dropdown-split" *dropdownMenu class="dropdown-menu ul"
          role="menu" aria-labelledby="button-split">
        <li role="menuitem"><a class="dropdown-item" routerLink="/eventlist">Event List</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/addAction">Add Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else
          here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul> -->
    </div>

    <span><button class="btn" href="#Rules">Rules</button></span>
    <span><button class="btn" href="#Solution">Solutions</button></span>
    <span><button class="btn" href="#About">About</button></span>
    <li style="float: right"><img src="./assets/a.png" alt="Amdocs Logo" height="45"></li>
</div><br>


  <br>
  <div class="container" id="main" >
    <div class="container" align="right">
        <i class="material-icons">
            <button mat-button (click)="sidenav.open();openNav();"><mat-icon style="font-size:25px;">menu</mat-icon></button>
              </i>
    </div>

    <div class="container">

           <H2 align="center">Log Action System Status at  <span>{{jstoday}}</span></H2>
           <br><br>
    </div>


<router-outlet></router-outlet>


</div>


