

<div align="center"><form name="f">
<fieldset align="left">
		<legend>  Event Defention</legend>
    <label style="margin:20px;">
        Application :
        </label>
        <select id="application" name="application"   class="from-control" style="width:50%;margin:40px;">
            <option *ngFor="let app of apps" [ngValue]="app.appName">{{app.appName}}  </option>
          </select>
          <label style="margin:20px;">
              Defect Severity :
              </label>
              <select id="defectseverity" name="defectseverity"  class="from-group" style="width:50%">
                  <option value=1>IconC</option>
                  <option value=2>IconE</option>
                  <option value=3>IconW</option>
                </select>
                <label style="margin:10px;">
                    Comperator :
                </label>


                <label class="radio-inline">
                    <label style="margin:10px;">
                   <input type="radio" name="gender" value="Greate Than" >
                      Greater Than:
                  </label>
                 </label>
                <label class="radio-inline">
                    <label style="margin:10px;">
                  <input type="radio" name="gender" value="Lower than" >
                      Lower Than
                  </label>
                </label>
                <label class="radio-inline">
                    <label style="margin:10px;">
                  <input type="radio" name="gender" value="Equal" >
                     Equal
                  </label>
                   </label>
                   <label style="margin:10px;">
                      Number of occurance (%) : </label>
                <input type="number" min="0" max="100" value="1" step="1" style="width:20%; font-size: 15px;">

              </fieldset>
              <br>
  <fieldset align="left">
      <legend>  Action Defntion</legend>
      <label style="margin:10px;">
          Action Severity :
          </label>
      <select id="actionseverity" name="actionseverity"  class="from-group" style="width:50%">
          <option value=1>Critical</option>
          <option value=2>Error</option>
          <option value=3>Warning</option>

        </select>
        <label style="margin:10px;">
            Action Selection :
            </label>

        <select id="actionselection" name="actionselection"  class="from-control" style="width:20%">
            <option *ngFor="let act of actions" [ngValue]="actions.name"> {{act.name}}  </option>
          </select>
      </fieldset>
      <fieldset align="center">
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" >Save</button>
          <button mat-raised-button color="warn">Clear</button>
        </div>
      </fieldset>
</form>
</div>





